@font-face {
  font-family: Metropolis;
  src: url("assets/Metropolis Font family/Metropolis-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: Metropolis;
  src: url("assets/Metropolis Font family/Metropolis-Regular.otf");
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Metropolis, "sans-serif";
}

/*This are Utility classes. Utility classes starts here, please add this to your main css*/
/* .hide{
    display: none;
} */
.active {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  background-color: #ffbd69;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  justify-content: center;
}
.fSize-lg {
  font-size: 52px;
  font-weight: bold;
}
.fSize-md {
  font-size: 32px;
}
.btn-purple {
  background-color: #543864;
  color: #ffffff;
  border: none;
  outline: none;
  height: 3rem;
  border-radius: 8px;
  margin-top: 1rem;
}
.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-space-btw {
  display: flex;
  justify-content: space-between;
}
.flex-align-btw {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}

.w-30 {
  width: 30%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-85 {
  width: 85%;
}
.w-90 {
  width: 90%;
}
.w-95 {
  width: 95%;
}
.w-100 {
  width: 100%;
}

.hover.hover.hover {
  color: #ffbd69;
}
.active.active.active {
  color: #000;
}
.logout {
  margin-left: 4rem;
}
/* Utility ends here */
